body{
    background-color: rgb(168, 178, 186);
}
.topheading{
    margin:55px 45px;
    font-size: 50px;
}
.homedivision{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    min-height: 400px;
}
#homepageNavBar{
    display: flex;
    flex-direction: row;
    padding: 30px 30px;
    align-items: center;
    justify-content: space-between;
}
#homepageNavBar h1{
    margin-left: 20px;
    margin-top: 0px;
}
.homepagecontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.homepagecontent p{
    margin-top: 150px;
}
.homepagecontent1{
    display: flex;
    flex-direction: row;
}
.contactbutton{
    color: black;
    border-radius: 30px;
    border: 3px solid green;
    font-size: 25px;
    height: 50px;
    width: 150px;
    }
    .contactbutton:hover {
        background-color: #45a049; /* Darker green */
      }
.userimg{
    height: 60px;
    width: 60px;
    border-radius: 40px;
    margin-left: 10px;
}
.homeimg{
    width: 400px;
    height: 550px;
    border-radius: 0px;
}

