.cardspace{
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    gap: 10px 10px;
    background-color: rgb(27, 26, 28);
    margin: 40px;
    border: 2px solid black;
}
.card{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 200px;
    padding: 20px;
    margin: 5px;
    align-items: center;

}
.productdivision{
    background-color:white;
    border: 1px solid black;
    height: 1600px;
}
.topheading{
    margin:55px 45px;
    font-size: 50px;
}